.bg{
    background: green;
    color: white;
}
.huruf-Link {
    color: white;
}

.pd {
    padding: 35px;
}
.padi{
    padding: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.tex{
    text-indent: 30px;
}
.kotak{
    border: 0;
}
.gambar{
    border: 1px double black;
    border-radius: 90px;
    width: 70%;
    height: 49%;
}
.penutup{
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 80px;
    width: 70%;
    
}
.dv{
    width: 100%;
    height: 100%;
}
.ig{
    width: 37%;
    height: 37%;
}
.line{
    width: 20%;
    height: 20%;
}
.gmail{
    width: 19%;
    height: 19%;
}
.nav{
    padding: 10px;
    color: white;
}